<h1 class="text-4xl font-bold mb-4">Patients Management</h1>

<button
mat-flat-button
color="primary"
(click)="showForm = !showForm"
[disabled] = "!isAdmin()"
[class.opacity-50]="!isAdmin()"
class="mb-4"
>
{{ showForm ? 'Hide Form' : 'Add New Patient' }}
</button>

<app-patient-form [patientToEdit]="selectedPatient" (patient)="selectedPatient ? editPatient($event): addPatient($event)" *ngIf="showForm"></app-patient-form>

<app-patients-table [data]="patientsService.patients$()" (patientClicked)="onPatientClicked($event)"></app-patients-table>