<mat-toolbar color="primary" class="px2 py-1">

    <div class="w-3xl flex justify-evenly">
        <a
        mat-button
        routerLink="/"
        [routerLinkActive]="['active']"
        >
        Home
        </a>
        <a
        mat-button
        routerLink="/patients-table"
        [routerLinkActive]="['active']"
        >
        Patients
        </a>
        <a
        mat-button
        routerLink="/staff-page"
        [routerLinkActive]="['active']"
        >
        Staff
        </a>
        <a
        mat-button
        routerLink="/visits-table"
        [routerLinkActive]="['active']"
        >
        Visits
        </a>
    </div>
    
</mat-toolbar>

